<div class="chatroom_box">
  <%= link_to "DM", users_path, class: "btn btn-outline-primary" %>
  <%= link_to "Group", group_path, class: "btn btn-outline-primary" %>
</div>
<% if @chatrooms.any? %>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom), class:"link_to_chatroom" do%>
      <div class="chatroom_box">
        <% if chatroom.direct == false %>
            <%= chatroom.room_name %>
        <% else %>
          <% chatroom.users.each do |user| %>
            <%= user.username unless user==current_user%>
          <% end %>
        <% end %>
        <% if chatroom.messages.any?%>
          <div class="last_message">
            <%= chatroom.last_message.user.username %>:
            <%= chatroom.last_message.content.truncate(27, omission:'...') %><br>
            <%= chatroom.last_message.created_at.strftime('%F %T') %><br>
          </div>
        <% end %>
        <%= link_to "Delete", chatroom_path(chatroom), method: :delete, class: "btn btn-outline-danger" %>
        <hr>
      </div>
    <% end %>

  <% end %>
<% else %>
  <p>Currently no chats</p>
<% end %>