<% if @chatroom.direct == false %>
  <%=link_to @chatroom.room_name,edit_chatroom_path(@chatroom), class: "link_to_profile"%>
<% else %>
  <% @chatroom.users.each do |user| %>
    <% unless  user==current_user%>
      <h2>
      <%=link_to user.username,profile_path(user), class: "link_to_profile "%>
      </h2>
    <% end %>
  <% end %>
<% end %>
<div class="chatroom_show">
  <%= render partial: 'chatrooms/chatroom_messages' %>
  <div class="form-inline">
  <%= form_for new_message, class: 'form-inline' do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id%>
    <%= form.hidden_field :chatroom_id, value: @chatroom.id %>
    <%= form.text_area :content %> <br>
    <%= form.submit "Send", class: "btn btn-outline-primary" %>
  <% end %>
  </div>
</div>