<% if @chatroom.direct == false %>
  <h2>
    <%=link_to @chatroom.room_name,edit_chatroom_path(@chatroom), class: "link_to_profile"%>
  </h2>
<% else %>
  <% @chatroom.users.each do |user| %>
    <% unless  user==current_user%>
      <h2>
      <%=link_to user.username,profile_path(user), class: "link_to_profile "%>
      </h2>
    <% end %>
  <% end %>
<% end %>
<div class="chatroom_show">
  <div id="chatroom_data" data-current-user="<%= current_user.id %>"></div>
  <%= render partial: 'chatrooms/chatroom_messages' %>
  <div class="form-inline">
    <%= form_for Message.new, class: 'form-inline', remote: true do |form| %>
      <%= form.hidden_field :user_id, value: current_user.id%>
      <%= form.hidden_field :chatroom_id, value: @chatroom.id %>
      <%= form.text_area :content %> <br>
      <%= form.submit "Send", class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>