<% @users.each do |user| %>
  <% unless user==current_user %>
    <div class="user_box">
      <%= user.username %>
      <%= form_for cr = Chatroom.new do |f| %>
        <%= f.hidden_field :direct, value: true %>
        <%= f.fields_for :chatroom_users, [user, current_user], include_id: false do |ff| %>
          <%= ff.hidden_field :user_id, value: ff.object.id %>
        <% end %>
        <%= f.submit 'Message', class: "btn btn-outline-primary" %>
      <% end %>
      <%= link_to 'View', profile_path(user), class: "btn btn-outline-primary" %>
      <hr>
    </div>
  <% end %>
<% end %>