<div>
  <%= image_tag(@user.avatar, style: "width: 100px; height: 100px;", class: "mr-4") %>
</div>
<div>
  <div>
    <%=@user.username%>
    <br>
    <% if @user.description %>
      <%= @user.description %>
      <br>
    <% end %>
    <%="Followers #{@user.followers.count}" %>
    <%="Following #{@user.followees.count}" %>
  </div>
  <%if @user==current_user%>
    <div class="actions">
      <%= link_to 'Edit', edit_user_registration_path, class:"btn btn-outline-primary" %>
    </div>
  <% else %>
    <div>
      <% if !not_following?(@user) %>
        <%= link_to "Follow", relationships_path(relation: @user), method: :post, class: "btn btn-outline-primary" %>
      <% else %>
        <%= link_to "Unfollow", relationship_path(@user), method: :delete, class: "btn btn-outline-primary" %>
      <% end %>

      <% if @user != current_user %>
        <%= form_for cr = Chatroom.new do |f| %>
          <%= f.hidden_field :direct, value: true %>

          <%= f.fields_for :chatroom_users, [@user, current_user], include_id: false do |ff| %>
            <%= ff.hidden_field :user_id, value: ff.object.id %>
          <% end %>

          <%= f.submit 'Message', class: "btn btn-outline-primary" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% if @posts %>
  <div class="mb-5">
    <% @posts.each do |post| %>
      <%= render 'posts/post_layout', post:post %>
    <% end %>
  </div>
  <br>
<% end %>
<%= javascript_pack_tag 'comment' %>
<%= javascript_pack_tag 'reply' %>