<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@repostable_id.nil? && !@repostable_type.nil?%>
    <%= form.hidden_field :repostable_id, value: @repostable_id%>
    <%= form.hidden_field :repostable_type, value: @repostable_type %>
  <% end %>

  <div class="field">
    <%= form.label :content, style: 'display:none;' %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :photo, content_tag(:i, nil, class: "bi bi-image"), class: 'd-flex'  %><br />
    <%= form.file_field :photo, style: 'display:none;' %>
  </div>
  <div class="actions">
    <%= form.submit 'Post', class: 'btn btn-outline-primary' %>
  </div>
<% end %>
