<div class="container my-3" style="width: 30%">
  <div class="row">
    <%= link_to post.user.username, profile_path(post.user), class: "card-title col-6", style: 'text-decoration: none; color: black;'%>
    <% if current_user==post.user %>
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <div class="dropdown">
            <button class="btn btn-light btn-sm bi bi-list" style="background: none; box-shadow: none;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <%= link_to "Edit", edit_post_path(post), class: 'dropdown-item' %>
              <%= link_to "Delete", post_path(post), method: :delete, class: 'dropdown-item', style: 'color: red;' %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <p class="card-text"><%= post.content %></p>
  <% if !post.repostable_id.nil? %>
    <%if post.repostable_type=="Post" %>
      <%= render partial: "posts/repost", locals: {post: Post.find(post.repostable_id)} %>
    <% else %>
      <%= render partial: "comments/recomment", locals: {comment: Comment.find(post.repostable_id)}%>
    <% end %>
  <% end %>
  <% if post.photo.attached? %>
    <%= image_tag(post.photo, style: "width: 100%")%>
  <% end %>
    <ul class="nav justify-content-center mt-3">
      <li class="nav-item mx-2">
        <% if find_like(post).nil? %>
          <%= form_for new_like do |form| %>
            <%= form.hidden_field :likeable_id, value: id_pass(post)%>
            <%= form.hidden_field :likeable_type, value: post.class %>
            <%= button_tag content_tag(:i, nil, class: "bi bi-heart"), type: 'submit', class: "btn btn-outline-danger btn-sm" %>
            <%= post.count_likes %>
          <% end %>
        <% else %>
          <%= link_to content_tag(:i, nil, class: "bi bi-heart"), like_path(find_like(post)), method: :delete, class: "btn btn-danger btn-sm"%>
          <%= post.count_likes %>
        <% end %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to content_tag(:i, nil, class: "bi bi-chat-square-dots"), post_path(post), class: "btn btn-outline-success btn-sm", id: "comment_click"%>
        <%= post.count_comments %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to content_tag(:i, nil, class: "bi bi-arrow-90deg-right"), new_post_path(repostable_id: post.id, repostable_type: "Post"), class: "btn btn-outline-primary btn-sm"%>
        <%= "0" %>
      </li>
    </ul>
  <hr>
</div>

